# --- Python & Backend ---
.env
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/
env/
ENV/

# --- React & Frontend ---
frontend-react/node_modules/
frontend-react/dist/
frontend-react/dist-ssr/
frontend-react/*.local
frontend-react/npm-debug.log*
frontend-react/yarn-debug.log*
frontend-react/yarn-error.log*
frontend-react/pnpm-debug.log*

# --- IDE & System ---
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Media/Data (Important: DB aur Images ko local rakho) ---
*.jpeg
*.jpg
*.png
*.webp
*.db